services:
  neo4j:
    image: neo4j:5-community
    ports:
      - "7474:7474"
      - "7687:7687"
    volumes:
      - neo4j_data:/data
    environment:
      NEO4J_AUTH: neo4j/${NEO4J_PASSWORD}
      NEO4J_dbms_memory_heap_initial__size: "256m"
      NEO4J_dbms_memory_heap_max__size: "512m"
      NEO4J_dbms_memory_pagecache_size: "128m"
    deploy:
      resources:
        limits:
          memory: 1G

volumes:
  neo4j_data:


